{% extends "../layouts/base.html.twig" %}

{% block style %}
	<link rel="stylesheet" href="/asset/css/style.css">
{% endblock %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block main %}
	<h1>Welcome</h1>
{% endblock %}
